nodesource_setup.sh
package-lock.json
node_modules/.package-lock.json
node_modules/.bin/prettier
node_modules/.bin/prettier.cmd
node_modules/.bin/prettier.ps1
node_modules/prettier/doc.d.ts
node_modules/prettier/doc.js
node_modules/prettier/doc.mjs
node_modules/prettier/index.cjs
node_modules/prettier/index.d.ts
node_modules/prettier/index.mjs
node_modules/prettier/LICENSE
node_modules/prettier/package.json
node_modules/prettier/README.md
node_modules/prettier/standalone.d.ts
node_modules/prettier/standalone.js
node_modules/prettier/standalone.mjs
node_modules/prettier/bin/prettier.cjs
node_modules/prettier/internal/cli.mjs
node_modules/prettier/internal/internal.mjs
node_modules/prettier/plugins/acorn.d.ts
node_modules/prettier/plugins/acorn.js
node_modules/prettier/plugins/acorn.mjs
node_modules/prettier/plugins/angular.d.ts
node_modules/prettier/plugins/angular.js
node_modules/prettier/plugins/angular.mjs
node_modules/prettier/plugins/babel.d.ts
node_modules/prettier/plugins/babel.js
node_modules/prettier/plugins/babel.mjs
node_modules/prettier/plugins/estree.d.ts
node_modules/prettier/plugins/estree.js
node_modules/prettier/plugins/estree.mjs
node_modules/prettier/plugins/flow.d.ts
node_modules/prettier/plugins/flow.js
node_modules/prettier/plugins/flow.mjs
node_modules/prettier/plugins/glimmer.d.ts
node_modules/prettier/plugins/glimmer.js
node_modules/prettier/plugins/glimmer.mjs
node_modules/prettier/plugins/graphql.d.ts
node_modules/prettier/plugins/graphql.js
node_modules/prettier/plugins/graphql.mjs
node_modules/prettier/plugins/html.d.ts
node_modules/prettier/plugins/html.js
node_modules/prettier/plugins/html.mjs
node_modules/prettier/plugins/markdown.d.ts
node_modules/prettier/plugins/markdown.js
node_modules/prettier/plugins/markdown.mjs
node_modules/prettier/plugins/meriyah.d.ts
node_modules/prettier/plugins/meriyah.js
node_modules/prettier/plugins/meriyah.mjs
node_modules/prettier/plugins/postcss.d.ts
node_modules/prettier/plugins/postcss.js
node_modules/prettier/plugins/postcss.mjs
node_modules/prettier/plugins/typescript.d.ts
node_modules/prettier/plugins/typescript.js
node_modules/prettier/plugins/typescript.mjs
node_modules/prettier/plugins/yaml.d.ts
node_modules/prettier/plugins/yaml.js
node_modules/prettier/plugins/yaml.mjs
package-lock.json
git
node_modules/