body {
  font-family: Arial, Helvetica, sans-serif;
}
thead {
  font-weight: bold;
  text-align: center;
}
tbody tr:nth-child(odd) {
  background-color: silver;
}
tr.closed-course {
  text-decoration: line-through;
}
