name: Lint
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm run lint
